@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* on state transition */

.ng-enter {
  opacity: 0;
  transition: 400ms;
}

.ng-enter-active {
  opacity: 1;
  transition: 400ms;
}
